* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: "Mulish", sans-serif;

  background-color: #fbfbfd;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #3fb0ac;
}

::-webkit-scrollbar-thumb:hover {
  background: #5fe9e4;
}

.page-content {
  display: inline-block;

  width: 100%;
  min-height: calc(100vh - 345px);

  padding: 50px 10px;

  text-align: center;
}

.main-inner {
  display: inline-block;

  width: 100%;
  max-width: 1400px;

  text-align: center;
}

.list-container {
  display: inline-block;

  padding: 10px 30px;

  background-color: #fff;

  border: 1px solid #e7eaf3;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.home-list-container {
  width: calc(50% - 20px);

  margin: 0px 10px;

  vertical-align: top;
}

.blocks-list-container {
  width: 100%;

  margin: 0px;

  vertical-align: top;
}

.block-container {
  width: 100%;

  padding: 20px 0px;

  border-bottom: 1px solid #e7eaf3;

  cursor: pointer;
}

.left-block-content {
  display: inline-block;

  width: 50%;

  text-align: left;

  vertical-align: middle;
}

.right-block-content {
  display: inline-block;

  width: 50%;

  text-align: right;

  vertical-align: middle;
}

.block-title {
  font-size: 16px;
  color: #303030;
  font-weight: 400;
}

.block-title span {
  font-weight: 700;
  color: #3fb0ac;
}

.block-time {
  font-size: 14px;
}

.block-info {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #303030;
  word-break: break-all;
}

.block-info span {
  font-size: 16px;
  font-weight: 700;
  color: #3fb0ac;
}

.list-header {
  display: inline-block;

  width: 100%;

  padding-bottom: 10px;

  text-align: left;

  border-bottom: 1px solid #303030;
}

.list-title {
  display: inline-block;

  font-size: 20px;
  font-weight: 700;
  color: #303030;

  vertical-align: middle;
}

.list-icon {
  display: inline-block;

  width: 25px;
  height: 25px;

  margin-right: 8px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;

  vertical-align: middle;
}

.cube-icon {
  background-image: url("../public/images/cube.svg");
}

.transfer-icon {
  background-image: url("../public/images/transfer.svg");
}

.list-header-content {
  display: inline-block;

  width: calc(100% - 100px);

  vertical-align: middle;
}

.main-btn {
  display: inline-block;

  width: 100px;

  padding: 5px 18px;

  background-color: #fff;

  font-size: 16px;
  color: #3fb0ac;
  font-weight: 500;
  text-align: center;

  border: 1px solid #3fb0ac;
  border-radius: 2px;

  cursor: pointer;
}

.main-btn:hover {
  background-color: #3fb0ac;

  color: #fff;
}

.pagination-container {
  display: inline-block;

  width: 100%;

  margin-top: 10px;

  text-align: right;
}

.button-pagination {
  display: inline-block;

  width: 40px;
  height: 40px;

  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;

  border: 1px solid #3fb0ac;
  border-radius: 2px;

  cursor: pointer;
  vertical-align: middle;
}

.first-btn {
  margin-right: 20px;
}

.previous-icon {
  background-image: url("../public/images/previous.svg");
  transform: rotate(180deg);
}

.next-icon {
  background-image: url("../public/images/next.svg");
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}

.block-time {
  color: #303030;
}

.list-info {
  display: inline-block;

  width: 100%;

  padding: 15px 0px;

  border-bottom: 1px solid #e7eaf3;
}

.left-titles {
  display: inline-block;

  width: 30%;

  text-align: left;
  font-size: 16px;
  color: #3fb0ac;
  font-weight: 700;

  vertical-align: middle;
}

.right-info {
  display: inline-block;

  width: 70%;

  text-align: left;
  font-size: 16px;
  color: #303030;
  font-weight: 500;
  word-break: break-all;

  vertical-align: middle;
}

.copy {
  display: inline-block;

  width: 35px;
  height: 35px;

  margin-left: 10px;

  background-color: #bafffd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: url("../public/images/copy.svg");

  border-radius: 50%;

  vertical-align: middle;
  cursor: pointer;
}

.Toastify__toast-body div {
  color: #3fb0ac;
  font-weight: 700;
}

.table-container {
  margin-top: 20px;
}

.main-table {
  width: 100%;

  border-collapse: collapse;
}

.main-table th {
  padding: 12px 5px;

  text-align: left;
  font-size: 16px;
  color: #fff;
  font-weight: 700;

  background-color: #3fb0ac;

  border: 1px solid #3fb0ac;
}

.main-table td {
  padding: 12px 4px;

  text-align: left;
  font-size: 14px;
  color: #303030;
  word-break: break-word;

  background-color: #fff;

  border-bottom: 1px solid #3fb0ac;
}

.main-table a {
  display: inline-block;

  width: 100%;
  height: 100%;

  color: #3fb0ac;
  text-decoration: none;
  font-weight: 700;

  border: 0px;
}

.main-menu {
  display: inline-block;

  width: 100%;

  margin-bottom: 20px;
  padding: 10px 0px;

  text-align: left;

  border-bottom: 2px solid #e7eaf3;
}

.menu-item {
  display: inline-block;

  margin-right: 40px;

  font-size: 16px;
  color: #303030;
  text-align: left;

  vertical-align: middle;
  cursor: pointer;
}

.menu-item.active {
  font-weight: 700;
  color: #3fb0ac;
  font-size: 15px;
}

.header {
  display: inline-block;

  width: 100%;

  padding: 0px 20px;

  background-color: #333;

  text-align: center;
}

.inner-header {
  display: inline-block;

  width: 100%;
  max-width: 1400px;

  text-align: left;
}

.header-logo {
  display: inline-block;

  width: 80px;
  height: 71px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 71px;
  background-image: url("../public/images/logo.png");
}

.block-value {
  color: #3fb0ac;
}

.ellipsis {
  display: inline-block;

  width: 100%;
  max-width: 130px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  vertical-align: top;
}

.code-btn-holder {
  display: inline-block;

  width: 100%;

  text-align: right;
}

.header-items {
  display: inline-block;

  width: calc(100% - 80px);

  text-align: right;

  vertical-align: middle;
}

.inline-middle {
  display: inline-block;

  vertical-align: middle;
}

.header-item {
  display: inline-block;

  margin-left: 40px;

  font-size: 18px;
  color: #fff;
  font-weight: 500;

  border: 0px;
  text-decoration: none;

  vertical-align: middle;
}

.header-item.active {
  font-weight: 700;
  color: #3fb0ac;
  font-size: 16px;
}

.error-content {
  display: inline-block;

  width: 100%;

  padding: 100px 0px;

  text-align: center;
}

.failed-icon {
  display: inline-block;

  width: 150px;
  height: 150px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/failed.svg");
}

.error-data {
  width: 100%;

  padding-top: 20px;

  font-size: 32px;
  color: #3fb0ac;
  font-weight: 700;
  text-align: center;
}

.mb10 {
  margin-bottom: 10px;
}

.btn-error-holder {
  display: inline-block;

  width: 100%;

  margin-top: 20px;

  text-align: center;
}

a {
  text-decoration: none;
}

.graph-holder-account {
  display: inline-block;

  vertical-align: middle;
}

.graph-info-account {
  display: inline-block;

  width: calc(100% - 200px);
  height: 200px;

  padding: 35px 15px;

  vertical-align: middle;
}

.one-graph-info {
  display: inline-block;

  width: 100%;

  margin-bottom: 20px;

  text-align: left;
}

.graph-color {
  display: inline-block;

  width: 30px;
  height: 30px;

  margin-right: 15px;

  border-radius: 50%;

  vertical-align: middle;
}

.graph-label {
  display: inline-block;

  width: calc(100% - 50px);

  color: #000;
  font-size: 14px;

  vertical-align: middle;
}

.block-span {
  display: block;
  width: 100%;
}

.graph-icon {
  background-image: url("../public/images/graph.svg");
}

.account-icon {
  background-image: url("../public/images/account.svg");
}

.qr-code-holder {
  display: inline-block;

  width: 100%;

  margin-top: 20px;
}

.account-table-container {
  width: calc(100% - 20px);

  margin-top: 20px;
}

.loading-info {
  width: 100%;

  padding: 80px 0px;

  font-size: 16px;
  text-align: center;
}

.empty-state {
  width: 100%;

  padding: 40px 0px;

  font-size: 24px;
  text-align: center;
  color: #3fb0ac;
  font-weight: 500;
}

.info-span,
.info-url {
  display: inline-block;

  width: calc(100% - 50px);

  vertical-align: middle;
}

.info-url {
  color: #3fb0ac;
}

.filters-content {
  display: inline-block;

  width: 100%;

  text-align: center;
}

.filter-icon {
  background-image: url("../public/images/filter.svg");
}

.main-input {
  display: inline-block;

  width: 220px;

  margin: 10px;
  padding: 8px 20px;

  font-size: 16px;
  color: #303030;

  border: 1px solid #e7eaf3;
  border-radius: 5px;
}

.main-input:focus {
  border: 1px solid #3fb0ac;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.error-content .main-btn {
  width: 150px;
}

.search-container {
  display: inline-block;

  width: 100%;

  margin-top: -15px;
  margin-bottom: 20px;

  text-align: center;
}

.search-input {
  display: inline-block;

  width: 500px;

  padding: 15px 20px;

  font-size: 18px;
  color: #303030;
  font-weight: 400;

  background-color: #fff;

  border: 1px solid #e7eaf3;

  vertical-align: middle;
}

input::placeholder {
  color: #727171;
}

.search-btn {
  display: inline-block;

  padding: 15px 20px;

  font-size: 18px;
  color: #fff;
  font-weight: 500;

  background-color: #3fb0ac;

  vertical-align: middle;
  cursor: pointer;

  border: 1px solid #3fb0ac;
}

.clear {
  clear: both;
}

.footer {
  display: inline-block;

  width: 100%;

  padding: 40px 0px;

  text-align: center;

  background-color: #333;
}

.inner-footer {
  display: inline-block;
  width: 100%;

  max-width: 1400px;

  text-align: center;
}

.one-footer-section {
  display: inline-block;

  width: 33%;

  text-align: center;

  vertical-align: top;
}

.footer-section-title {
  display: inline-block;

  width: 100%;

  padding-bottom: 20px;

  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.one-footer-info {
  display: inline-block;

  width: 100%;

  padding-bottom: 15px;

  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.one-footer-info:hover {
  color: #3fb0ac;
}

.social-icon {
  display: inline-block;

  width: 40px;
  height: 40px;

  margin: 0px 10px;

  background-color: #fff;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;

  border-radius: 50%;
  vertical-align: middle;
}

.social-icon:hover {
  background-color: #bafffd;
}

.twitter-icon {
  background-image: url("../public/images/twitter.svg");
}

.github-icon {
  background-image: url("../public/images/github.svg");
}

.email-icon {
  background-image: url("../public/images/email.svg");
}

.main-select {
  position: relative;
  display: inline-block;

  padding: 16px 40px;

  font-size: 18px;
  color: #303030;
  font-weight: 400;

  background-color: #fff;
  background-image: url("../public/images/down.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 100% 9px;

  vertical-align: middle;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.home-info-container {
  width: calc(100% - 20px);

  margin-bottom: 20px;
}

.home-info {
  display: inline-block;

  width: calc(33% - 10px);

  margin: 5px;
  padding: 5px;

  text-align: left;

  border: 1px solid #f0f0f0;
  border-radius: 5px;

  vertical-align: middle;
}

.home-info-icon {
  display: inline-block;

  width: 30px;
  height: 30px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  vertical-align: middle;
}

.home-info-content {
  display: inline-block;

  width: calc(100% - 30px);

  padding-left: 10px;

  text-align: left;

  vertical-align: middle;
}

.home-info-title {
  width: 100%;

  text-align: left;
  font-size: 14px;
  color: #999696;
}

.home-info-value {
  text-align: left;
  font-size: 14px;
  color: #303030;
  font-weight: 700;
}

.note-icon {
  background-image: url("../public/images/note.svg");
}

.user-icon {
  background-image: url("../public/images/user.svg");
}

.graph-home-icon {
  background-image: url("../public/images/graph-home.svg");
}

.coin-icon {
  background-image: url("../public/images/coin.svg");
}

@media (max-width: 900px) {
  .home-list-container {
    width: calc(100% - 20px);

    margin-bottom: 20px;
  }

  .list-container {
    padding: 10px;
  }

  .search-container {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .search-input {
    width: auto;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .main-table tbody > :first-child {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .main-table tr {
    margin-bottom: 10px;
    border-bottom: 1px solid #a7a7a7;
  }

  .main-table td {
    border-bottom: 1px solid #eee;
  }
}

@media (max-width: 600px) {
  .home-info {
    width: calc(50% - 10px);
  }

  .one-footer-section {
    width: 100%;
  }

  .search-container > * {
    width: 100%;
    margin-top: 10px;
  }

  .header-items {
    display: block;

    width: 100%;

    text-align: center;
  }

  .header-item {
    margin-left: 0;

    font-size: 16px;
  }

  .header-items :not(:first-child) {
    margin-left: 30px;
  }

  .inner-header {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .home-info,
  .graph-info-account {
    width: calc(100% - 10px);
  }

  .block-info {
    font-size: 12px;
  }

  .block-info span,
  .block-value,
  .right-info {
    font-size: 14px;
  }

  .block-time {
    font-size: 13px;
  }

  .search-input {
    font-size: 15px;
  }

  .right-info {
    padding-left: 4px;
  }
  .ellipsis {
    vertical-align: bottom;
  }

  .graph-info-account {
    padding: 20px 10px;
  }

  .menu-item {
    display: block;

    padding-bottom: 5px;
  }
}
